@model Forum.Models.Post

<h2>Add a New Post</h2>
<div class="createpost">
    <form asp-action="Create" method="post" >
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <input asp-for="Content" class="form-control" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PosType" class="control-label"></label>
            <input asp-for="PosType" class="form-control"/>
            <span asp-validation-for="PosType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserId" class="control-label"></label>
            <input asp-for="UserId" class="form-control"/>
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn" />
        </div>
    </form>
</div>
